pipeline/PL_SQL_Incremental_Load_To_ADLS.json
{
	"name": "PL_SQL_Incremental_Load_To_ADLS",
	"properties": {
		"activities": [
			{
				"name": "LK_Old_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_watermark_value \nFROM dbo.pipeline_watermark \nWHERE source_table_name = '@{pipeline().parameters.sourceTableName}';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.sourceSchemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.sourceTableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "LK_New_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(@{pipeline().parameters.watermarkColumn}) AS new_watermark_value \nFROM @{pipeline().parameters.sourceSchemaName}.@{pipeline().parameters.sourceTableName};",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.sourceSchemaName",
								"type": "Expression"
							},
							"tableName": "@pipeline().parameters.sourceTableName"
						}
					}
				}
			},
			{
				"name": "Copy_Incremental_Records",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Old_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_New_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM @{pipeline().parameters.sourceSchemaName}.@{pipeline().parameters.sourceTableName}\nWHERE @{pipeline().parameters.watermarkColumn} > '@{activity('LK_Old_Watermark').output.firstRow.last_watermark_value}' \nAND @{pipeline().parameters.watermarkColumn} <= '@{activity('LK_New_Watermark').output.firstRow.new_watermark_value}';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.sourceSchemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.sourceTableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Parquet_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.targetContainer",
								"type": "Expression"
							},
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					}
				]
			},
			{
				"name": "SP_Update_Watermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Incremental_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Retail",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "UPDATE dbo.pipeline_watermark\nSET last_watermark_value = '@{activity('LK_New_Watermark').output.firstRow.new_watermark_value}'\nWHERE source_table_name = '@{pipeline().parameters.sourceTableName}';"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"sourceSchemaName": {
				"type": "string"
			},
			"sourceTableName": {
				"type": "string"
			},
			"watermarkColumn": {
				"type": "string"
			},
			"targetContainer": {
				"type": "string"
			},
			"targetFolderPath": {
				"type": "string"
			},
			"targetFileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}